# Palmer Penguins Data Analysis Project

This notebook contains my analysis of the famous palmer penguins dataset by Theresa Smyth

### Imports

Imports of dataframes required to allow investigation of the dataset.

In [2]:
# Date frames.
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Task 2

***

#### Overview of Dataset

The Penguins dataset is a popluar and commonly used introductory dataset in the field of data science for data exploration/visualization as an alternative to Anderson's Iris dataset. The data was collected as part of reasearch for three penguin species observed on three islands in the Palmer Archipelago, Antarctica and is available on [on GitHub](https://allisonhorst.github.io/palmerpenguins//). It contains data on various measuments of penguins collected from three species: Adelie, Chinstrap, and Gentoo. This analysis gives an overview of the variables it contains and suggests the _types_ of variables that should be used to model them in python.

#### Load Data

Load the palmer penguins data set from a URL

In [3]:
#Load the penguins dataset.
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

In [4]:
# Lets have a look:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [8]:
# Summary of the dataframes basic information.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

#### Types of Variables
As seen above the Palmer penguins dataset consists of 7 variables that describe different attributes of pengunins. 

1. Species: The species of penguin, such as Adelie, Chinstrap, or Gentoo.
2. Island: The island where the penguin was observed, such as Torgersen, Biscoe, or Dream.
3. Bill Length (mm): The length of the penguin's bill, measured in millimeters.
4. Bill Depth (mm): The depth of the penguin's bill, measured in millimeters.
5. Flipper Length (mm): The length of the penguin's flipper, measured in millimeters.
6. Body Mass (g): The body mass of the penguin, measured in grams.
7. Sex: The sex of the penguin, usually denoted as Male (M) or Female (F).

In [5]:
# Sex of penguins
# Looking at whole column
df ['sex']

0        MALE
1      FEMALE
2      FEMALE
3         NaN
4      FEMALE
        ...
339       NaN
340    FEMALE
341      MALE
342    FEMALE
343      MALE
Name: sex, Length: 344, dtype: object

In [6]:
# count the number of penguins of each sex.
# 11 missing i.e. Not a number
df['sex'].value_counts()

sex
MALE      168
FEMALE    165
Name: count, dtype: int64

In [7]:
# Describe the data set
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

***

# End